a.fixedButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 40px;
    z-index: 2;
    width: 150px;
    background: #50CD5E;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
  
    span{
        font-size: 16px;
        
    }
    img{
        width: 20px;
    }

    @media(max-width: 700px){
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin: 20px;
        padding: 5px;
        img{
            width: 30px;
        }
        span{
            display: none;
        }
    }
    &:hover{
        filter: brightness(0.9);
    }
    
}