*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    //font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
    //font-family: 'Questrial', sans-serif;

    @media(max-width: 768px){
        font-size: 12px;
    }
}