@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";
$margin : 40px;

body{
    overflow-x: hidden;
}
div.titulo {
    height: 1px;
    background-color: #333;
    text-align: center;
    width: 70%;
}

div.titulo span {
    background-color: #fff;
    position: relative;
    top: -0.8em;
    padding: 0 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div.div-titulo{ 
    display: flex;
    justify-content: center;
}

@mixin slider{
    >div{
        ul{
            text-align: center;
            li {
                img{
                    width: 70%;

                }
                small{
                    font-size: 10px;
                    color: red;
                    
                }
            }
        }

        button{
            color: black;
            font-size: 32px;
            border: none;
            background: #fff;
            z-index: 1;
            @media(max-width: 1000px){
                font-size: 24px;
                width: 40px;
            }

            @media(max-width: 700px){
                font-size: 16px;
                width: 30px;
            }

           
        }
    }
}

section#categorias{
    width: 100vw;
    margin-top: $margin;
    
    div#div-cards{
        width: 100vw;
        margin-top: $margin;
        display: flex;
        justify-content: space-around;
        gap: 30px;
        
        a.card{
            width: 25%;
            background: none;
            border: none;
            overflow: hidden;

            img {
                border-radius: 10px;
                transition: all 0.4s;
                object-fit: cover;
                object-position: center;
                
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
    
}

#novidades{
    width: 100vw;
    margin-top: $margin;
    
    #slider-novidades{
        margin-top: $margin;

        .glide{
            @include slider;
        }
    }   
}

#promocoes{
    width: 100vw;
    margin-top:$margin;

    #slider-promocoes {
        margin-top: $margin;

        .promocoes{
            @include slider;
        }
    }
}