@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";
$margin : 40px;

body{
    overflow-x: hidden;
}
div.titulo {
    height: 1px;
    background-color: #333;
    text-align: center;
    width: 70%;
}

div.titulo span {
    background-color: #fff;
    position: relative;
    top: -0.8em;
    padding: 0 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div.div-titulo{ 
    display: flex;
    justify-content: center;
}


@mixin slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div{
        ul{
            text-align: center;
            li {
                >a{
                    text-decoration: none;
                    display: flex !important;
                    flex-direction: column;
                    align-items: center;

                    img{
                        width: 80%;
                    }
    
                    h2.veja-mais{
                        background: red;
                        color: white;
                        text-transform: uppercase;
                        width: 80%;
                        height: 40px;
                        opacity: 0;
                        transition: all linear 0.5s;
                        position: relative;
                        bottom: 40px;
                        margin-bottom: -40px; 
                    }

                    &:hover{
                        h2.veja-mais{
                            opacity: 1;
                        }
                    }
                }
                
                
                small{
                    font-size: 10px;
                    color: red;
                    
                }
            }
        }

        button{
            color: black;
            font-size: 32px;
            border: none;
            background: #fff;
            z-index: 1;
            @media(max-width: 1000px){
                font-size: 24px;
                width: 40px;
            }

            @media(max-width: 700px){
                font-size: 16px;
                width: 30px;
            }

           
        }

        
    }
    
}

section#categorias{
    width: 100vw;
    margin-top: $margin;
    
    div#div-cards{
        width: 100vw;
        margin-top: $margin;
        display: flex;
        justify-content: space-around;
        gap: 30px;
        
        a.card{
            width: 25%;
            background: none;
            border: none;
            overflow: hidden;

            img {
                border-radius: 10px;
                transition: all 0.4s;
                object-fit: cover;
                object-position: center;
                
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
    
}

#novidades{
    width: 100vw;
    margin-top: $margin;
    
    #slider-novidades{
        margin-top: $margin;

        .glide{
            @include slider;
        }   
    }   
}

#promocoes{
    width: 100vw;
    margin-top:$margin;

    #slider-promocoes {
        margin-top: $margin;

        .glide{
            @include slider;
        }
    }
}

section#newsletter{
    padding: 32px;
    background-color: lightgray;
    margin-top: $margin;

    >article{
        text-align: center;
        span{
            font-size: 24px;
            text-transform: uppercase;
        }
        
        h3{
            font-size: 45px;
        }
    }

    >div{
        text-align: center;
        p{
            padding: 0;
            margin: 0;
        }
    }

    article#input-email{
        margin-top: $margin;
        display: flex;
        justify-content: center;
        gap: 5px;
        input{
            width: 500px;

            @media(max-width: 700px){
                width: 250px;
            }
        }
    }
}


#contato{
    margin-top: $margin;
    #div-contato{
        margin-top: 20px;
        display: flex;
        align-items: center;
        span{
            font-size: 16px;
            text-transform: uppercase;
            display: block;
            margin-bottom: $margin;
        }

        #contato-text{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contato-itens{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin-bottom: 15px;
            text-align: center;
            
            i{
                font-size: 24px;
            }
            span{
                margin-bottom: 0;
                padding: 16px;
                text-transform: none;
            }
        }
    }

}