#title{
    text-align: center;
    padding: 10px;

    @media (max-width: 700px){
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    #icons{
        font-size: 1.2em;

        a{
            margin: 0px 5px;
            color: #8866cc;
        }
    }
}

#menus{
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    @media (max-width: 700px){
        display: none;
    }
    a{
        color: rgb(19, 18, 18);
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        &:hover{
            color: #fff;
            background: #8866cc;
        }
    }
}

#search{
    display: flex;
    justify-content: center;
    @media(max-width: 700px){
        justify-content: space-around;
    }
    
    align-items: center;

    button#hamburguer{
        display: none;
        @media(max-width: 700px){
            display: block;
            width: 10vw;
        }
        background: none;
        border: none;
        font-size: 28px;
        i{
            height: 40px;
        }
    }
    form{
        display: flex;
        width: 600px;
        @media(max-width: 700px){
            width: 85vw;
        }
        input{
            width: 580px;
            border: none;
              
            &:focus{
                outline: 0;
            }
        }

        button{
            border: none;
            background: none;
            font-size: 16px;
        }
    }
    
}

// Menu exibido em telas pequenas quando clicado no menu hamburguer
#menufull{
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll!important;
    z-index: 2;
    gap: 10px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s ease-in-out;
}

