body{
    overflow-x: hidden;
}
h2{
    margin: 30px;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 10px;
}

section#register{
    article{
        padding: 10px;
    }
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;

    label{
        width: 100px;
    } 
}

.modal-dialog{
    max-width: 1000px;
}

.modal-content{
    width: 100%;
    
}
.modal-body{
    padding: 0;
    img{
        max-height: 40vw;
        @media(max-width: 992px){
            max-height: 70vw;
        }
        max-width: 100%;
        
    }
}